/* h1 , a { */
    /* border-width: 5px; */
    /* border-color: red; */
    /* border-style: solid; */
    /* display: inline; */
  /* } */
  h1 , a {
    border: 5px solid red;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* display: inline; */
    margin: 40px;
    width: 400px;
  }

